<!DOCTYPE HTML>
<html>
<head>
<title>trackmyb.us</title>
<meta charset="UTF-8">
<link rel="stylesheet/less" type="text/css" href="/css/reset.less" />
<link rel="stylesheet/less" type="text/css" href="/css/main.less">
<script src="/js/less.js" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
{% block extrahead %}{% endblock %}
</head>
<body>
<div id="container">
{% block content %}{% endblock %}
<div id="footer"{% if show_news_feed %} style="width: 70%;"{% endif %}><div id="footer-content">{% if current_user %}{{ current_user.email }} <span class="separator">|</span> <a href="/stop/new">new stop</a> <span class="separator">|</span> <a href="/settings">settings</a> <span class="separator">|</span> <a href="/feedback">feedback</a> <span class="separator">|</span> <a href="{{ login_url }}">{{ login_url_linktext }}</a>{% endif %}</div></div>
</div>
</body>
</html>