{% extends "base.html" %}

{% block extrahead %}
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/stop_selector.js" type="text/javascript"></script>
<script src="/js/validate.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
	{% if stop.agency_tag == "bart" %}
	bartSetStation("{{ stop.stop_tag }}");
	bartSetDirection("{{ stop.direction_tag }}");
	$('#nextbus-menus').hide();
	$('#bart-menus').show();
	{% else %}
	nextbusSetLine("{{ stop.agency_tag }}", "{{ stop.line_tag }}");
	nextbusSetDirection("{{ stop.agency_tag }}", "{{ stop.line_tag }}", "{{ stop.direction_tag }}");
	nextbusSetStop("{{ stop.agency_tag }}", "{{ stop.line_tag }}", "{{ stop.direction_tag }}", "{{ stop.stop_tag }}");
	$('#bart-menus').hide();
	$('#nextbus-menus').show();
	{% endif %}
});
</script>
{% endblock %}

{% block content %}
<div id="main">
<div style="height:5em;"></div>
<div class="new-stop-form">
	<form action="/stop/edit/{{ stop.key.id }}" method="post" onsubmit="return validate_stop();">
		
		<h1>Edit Stop</h1>
		<p><a href="/">Back to Home</a></p>
		
		<label>Stop Title:
		<span class="small">your personal description</span>
		</label>
		<input type="text" name="title" class="title" id="title" placeholder="e.g. Line 18 at Everett to Downtown Oakland" value="{{ stop.title }}">
		
		<label>Your origin:
		<span class="small">use the menus</span>
		</label>
		<div class="select-set">
		<select name="agency-select" id="agency-select">
			<option>Select a transit agency...</option>
			<option value="actransit"{% if stop.agency_tag == 'actransit'%} selected{% endif %}>AC Transit</option>
			<option value="sf-muni"{% if stop.agency_tag == 'sf-muni'%} selected{% endif %}>SF MUNI</option>
			<option value="bart"{% if stop.agency_tag == 'bart'%} selected{% endif %}>BART</option>
		</select>
		<div id="nextbus-menus">
		<select name="nextbus-line-select" id="nextbus-line-select"></select>
		<select name="nextbus-direction-select" id="nextbus-direction-select"></select>
		<select name="nextbus-stop-select" id="nextbus-stop-select"></select>
		</div>
		<div id="bart-menus">
		<select name="bart-station-select" id="bart-station-select"></select>
		<select name="bart-direction-select" id="bart-direction-select"></select>
		</div>
		</div>
		
		<label>Time to Get to Stop:
		<span class="small">this is your estimation in minutes</span>
		</label>
		<input type="text" name="time-to-stop" id="time-to-stop" placeholder="e.g. 12" value="{{ stop.time_to_stop }}">

		<button name="submit" type="submit">Save Changes</button>
	</form>
</div>
</div>

{% endblock %}