{% extends "base.html" %}

{% block extrahead %}
<script src="/js/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="/js/clock.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="header">
<p>Transit Arrival Times</p>
<span id="clock">&nbsp;</span> 
</div>

<table id="stop-list">

<tr class="header"><td class="line-title">trackmyb.us</td><td class="line-edit no-fade"><a href="{{ login_url }}">login to get started!</a></td></tr>
<tr class="time"><td class="arrival subtitle" colspan="2"><p>This webapp gives real time arrival information for your bus stop. It also tells you when to start walking there. You can see a preview of what trackmyb.us looks like below. The arrival time of the bus is on the left.</p></td></tr>

<tr class="header"><td colspan="2" class="line-title">18 at everett</td></tr>
<tr class="time"><td class="arrival"><span class="big">5</span> minutes</td><td class="leave-time">missed</td></tr>
<tr class="time"><td class="arrival"><span class="big">20</span>minutes</td><td class="leave-time">leave in 13m</td></tr>
<tr class="time"><td class="arrival"><span class="big">41</span> minutes</td><td class="leave-time">leave in 30m</td></tr>
<tr class="time"><td class="arrival"><span class="big">57</span> minutes</td><td class="leave-time">leave in 46m</td></tr>
<tr class="time"><td class="arrival"><span class="big">71</span> minutes</td><td class="leave-time">leave in 60m</td></tr>

</table>
{% endblock %}
