{% extends "base.html" %}

{% block extrahead %}
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/stop_selector.js" type="text/javascript"></script>
<script src="/js/validate.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="main">
<div style="height:5em;"></div>
<div class="new-stop-form">
	<form action="/stop/new" method="post" onsubmit="return validate_stop();">
	
		<h1>New Stop</h1>
		<p><a href="/">Back to Home</a></p>
	
		<label>Stop Title:
		<span class="small">your personal description</span>
		</label>
		<input type="text" name="title" id="title" class="title" placeholder="e.g. Line 18 at Everett to Downtown Oakland">
		
		<label>Your origin:
		<span class="small">use the menus</span>
		</label>
		<div class="select-set">
		<select name="agency-select" id="agency-select">
			<option>Select a transit agency...</option>
			<option value="actransit">AC Transit</option>
			<option value="sf-muni">SF MUNI</option>
			<option value="bart">BART</option>
		</select>
		<div id="nextbus-menus">
		<select name="nextbus-line-select" id="nextbus-line-select"></select>
		<select name="nextbus-direction-select" id="nextbus-direction-select"></select>
		<select name="nextbus-stop-select" id="nextbus-stop-select"></select>
		</div>
		<div id="bart-menus">
		<select name="bart-station-select" id="bart-station-select"></select>
		<select name="bart-direction-select" id="bart-direction-select"></select>
		</div>
		</div>
		
		<label>Time to Get to Stop:
		<span class="small">this is your estimation in minutes</span>
		</label>
		<input type="text" name="time-to-stop" id="time-to-stop" placeholder="e.g. 12">
		
		<button name="submit" type="submit">Create</button>
	</form>
</div>
</div>

{% endblock %}