/* VARIABLES */
@background-color: #232625;
@text-color: #FFAD29;
@border-color: #647362;
@highlight-color: #374036;
@footer-height: 3em;
@left-right-margin: 10px;

/* NEWS-FEED-LIST-VARIABLES */
@news-feed-list-background-color: #272E2C;
@news-feed-list-text-color: #FFAD29;
@news-feed-list-border-color: #647362;
@news-feed-list-highlight-color: #3D4A46;

/* LAYOUT */

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

div#wrapper
{
    min-height: 100%;
    position: relative;
}

div#header
{
    text-align: center;
    padding-bottom: .4em;
    font-size: 2em;
}

div#main
{
    padding-bottom: @footer-height;
}

div#container
{
    display: inline-block;
    width: 100%;
}

div#stop-list-container
{
    float: left;
}

div#news-feed-list-container
{
    float: right;
}

div#footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @footer-height;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

div#news-feed-background
{
    position: absolute;
    right: 0;
    top: 0;
    background-color: @news-feed-list-background-color;
    z-index: -10;
}

div#divider
{
    position: absolute;
    border-right: 3px solid orange;
    z-index: 10;
}

div#banner
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: #057685;
    color: #FFFFFF;
    
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    
    z-index: 10;
}

div#fade
{
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: .70;
    z-index: 999;
}

/* LINKS AND BODY */

body
{
    background-color: @background-color;
    color: @text-color;
    font-family: 'News Cycle', sans-serif;
}

a, a:hover, a:visited, a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

/* HEADER STYLING */

div#header span#clock
{
    color: #FFFFFF;
}

/* FOOTER STYLING */

div#wrapper:hover > div#footer
{
    opacity: 1;
}

div#footer-content
{
    text-align: center;
    color: #FFFFFF;
    margin-top: 1em;
}

/* LIST */

table.list
{
    width: 100%;
    border-collapse: collapse;
}

/* HEADER 1 ROW */

table.list tr.header1 td
{
    padding: .3em @left-right-margin;
}

table.list tr.header1 td.header1-left
{
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
    width: 70%;
    vertical-align: middle;
}

table.list tr.header1 td.header1-right
{
    text-align: right;
    width: 30%;
    font-size: 1.5em;
    font-weight: normal;
    vertical-align: middle;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

div#wrapper:hover td.header1-right
{
    opacity: 1;
}

/* HEADER 2 ROW */

table.list tr.header2
{
    background: @highlight-color;
}

table.list tr.header2 td
{
    padding: .5em @left-right-margin;
}

table.list tr.header2 td.header2-left
{
    text-align: left;
    font-size: 1.7em;
    font-weight: bold;
    width: 70%;
    vertical-align: middle;
}

/* HEADER 3 ROW */

table.list tr.header3
{
    background: #293028;
}

table.list tr.header3 td
{
    padding: .5em @left-right-margin;
}

table.list tr.header3 td.header3-left
{
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    width: 70%;
    vertical-align: middle;
}

/* HEADER 4 ROW */

table.list tr.header4 td
{
    padding: .2em @left-right-margin;
    color: #FFFFFF;
}

table.list tr.header4 td.header4-left
{
    text-align: left;
    width: 50%;
    font-size: 1.2em;
}

table.list tr.header4 td.header4-right
{
    width: 50%;
    text-align: right;
    font-size: 1.2em;
}

table.list tr.header4 td.header4-subtitle
{
    text-align: left;
    width: 50%;
    color: #3BBA00;
    font-size: 1.5em;
    padding-bottom: .4em !important;
}

table.list tr.header4 td.header4-post
{
    font-size: 1.5em;
    color: @text-color;
}

/* NON-ROW SPECIFIC STYLING */

table.list tr td span.big
{
    font-size: 2em;
    font-weight: bold;
}

table.list tr td span.body
{
    display: block;
}

table.list tr td span.details
{
    font-size: .6em;
    color: #FFFFFF;
}

table.list tr td span.tools
{
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

table.list tr.header4:hover > td span.details span.tools
{
    opacity: 1;
}

/* STOP-LIST STYLING */

table#stop-list
{
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
}

table#stop-list tr td
{
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
}

table#stop-list tr.header1
{
    background: @highlight-color;
}

/* NEWS-FEED-LIST STYLING */

table#news-feed-list
{
    border-top: 1px solid @news-feed-list-border-color;
    border-bottom: 1px solid @news-feed-list-border-color;
}

table#news-feed-list tr td
{
    border-top: 1px solid @news-feed-list-border-color;
    border-bottom: 1px solid @news-feed-list-border-color;
}

table#news-feed-list tr.header1
{
    background: @news-feed-list-highlight-color;
}

/* STOP MANAGEMENT */

div.new-stop-form
{
    margin: 0 auto;
    width: 600px;
    padding: 14px;
    margin-bottom: 1em;
    border: solid 2px @border-color;
    vertical-align: top;
    background: @highlight-color;
}

div.new-stop-form h1
{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 8px;
    text-align: center;
}

div.new-stop-form h2
{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #FFFFFF;
}

div.new-stop-form p
{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 1px #FFFFFF;
    padding-bottom: 10px;
}

div.new-stop-form label
{
    display: block;
    font-weight: bold;
    text-align: right;
    width: 220px;
    float: left;
}

div.new-stop-form .small
{
    color: #FFFFFF;
    display: block;
    font-size: .8em;
    font-weight: normal;
    text-align: right;
    width: 220px;
}

div.new-stop-form input, div.new-stop-form textarea
{
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 300px;
    margin: 2px 0 20px 10px;
}

div.new-stop-form textarea
{
    height: 5em;
}

div.new-stop-form div.select-set
{
    float: left;
    font-size: 12px;
    width: 200px;
    margin: 2px 0 20px 10px;
}

div.new-stop-form div.select-set select
{
    display: block;
}

button
{
    border: 0;
    background: #666666;
    text-align: center;
    line-height: 31px;
    color: #FFFFFF;
    font-size: .5em;
    font-weight: bold;
}

div.new-stop-form button
{
    clear: both;
    border: 0;
    margin-left: 240px;
    width: 125px;
    height: 31px;
    background: #666666;
    text-align: center;
    line-height: 31px;
    color: #FFFFFF;
    font-size: .75em;
    font-weight: bold;
}

/* MISC */

span.separator
{
    color: @text-color;
}
